@model ProyectoPruebaViamatica.Models.ViewModels.PeliculaViewModel

@{
    ViewBag.Title = "Detalles de Película";
}

<h2 class="mt-4">Detalles de Película</h2>

<div class="card mt-3">
    <div class="card-header">
        <strong>@Html.DisplayFor(model => model.nombre)</strong>
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.id_pelicula)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.id_pelicula)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.duracion)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.duracion)</dd>

            <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Activo)</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.Activo)</dd>
        </dl>
    </div>
    <div class="card-footer">
        @Html.ActionLink("Editar", "Edit", new { id = Model.id_pelicula }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Volver a la Lista", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>