@model IEnumerable<ProyectoPruebaViamatica.Models.SalaCine>

@{
    ViewBag.Title = "Lista de Salas de Cine";
}

<h2>Lista de Salas de Cine</h2>

<p>
    @Html.ActionLink("Crear Nueva Sala", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Verificar Disponibilidad de Sala", "Disponibilidad", null, new { @class = "btn btn-info" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.estado)
        </th>
        <th>Acciones</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.estado)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.id_sala }, new { @class = "btn btn-warning btn-sm" }) |
                @Html.ActionLink("Eliminar", "Delete", new { id = item.id_sala }, new { @class = "btn btn-danger btn-sm" })
            </td>
        </tr>
    }

</table>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}